.pagination-btn-back {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 8px;
  font-size: 16px;
}

.pagination-btn-next {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 8px;
  font-size: 16px;
}

.pagination-item {
  margin: 0 4px;
  font-size: 18px;
}

.stretch {
  background-color: rgb(1, 174, 1);
  color: white;
  font-size: 16px;
  margin-top: 20px;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  transition: padding 0.5s;
}

.stretch:hover {
  padding: 16px 28px;
}

.d3-click {
  background-color: rgb(1, 174, 1);
  color: white;
  font-size: 16px;
  margin-top: 20px;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}

.d3-click:active {
  margin-top: 24px;
  box-shadow: none;
  margin-left: 4px;
}

.margin-padding {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: green;
  color:white;
  font-size: 18px;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  transition: padding 0.15s,
    margin-left 0.15s,
    margin-right 0.15s;
}

.margin-padding:hover {
  margin-left: 0;
  margin-right: 0;
  padding: 8px 30px;
}
