.image-a {
  width: 200px;
  border-radius: 20px;
}

.image-b {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.image-c {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 100px;
}

.search-bar-d {
  font-size: 16px;
  padding: 12px 15px;
  border-radius: 8px;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  border-style: solid;
}

.search-bar-e {
  font-size: 16px;
  width: 500px;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 12px 15px;
  margin-top: 20px;
  margin-left: 20px
}