.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 0;
}

.card {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-right: 15px;
}

.info {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial;
}

.username {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

.common {
  color: gray;
  margin-bottom: 12px;
}

button {
  background-color: #3873e1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}